@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap');

body{
  font-family: "lobster";
}

h1{
  Color: #007580;
  text-align: center;
}

.hero{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://bernardaud-prod.s3.eu-west-3.amazonaws.com/atmosphere_images/files/000/000/084/original/BougiesDecorees.jpg?1589298056");
  background-size: cover;

}
